input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
body {
    font-family: Verdana, Geneva, sans-serif;
    display: block;
    font-size: 16pt;
    --title-background-color: #432a76;
    --row-width: 780px;
    --rating-width: 800px;
    --box-width: 380px;
    background-color: white;
    --rating-border-color: slateblue;
    --font-normal: Georgia, 'Times New Roman', Times, serif;
}
body div {
    display: flex;
    clear: left;
    float: left;
}
body div#header {
    height: 80px;
    width: var(--row-width);
}
body div#header img{
    width: 200px;
}
body div#header div#headerRight {
    display: table-cell;
}
body div#header div#headerRight div{
    display: block;
    width: 570px;
    height: 40px;
    text-align: right;
    line-height: 40px;
}
body div#companyInfo h1 {
    font-family: var(--font-normal);
    font-weight: normal;
    margin-top: 8px;
    margin-bottom: 8px;
}
body div#companyInfo {
    left:0px;
    margin-left:0px;
    display: table-cell;
    height: 190px;
    width: var(--row-width);
    justify-content: center;
    align-items: center;
    background-color: var(--title-background-color);
    color: white;
}
body div#companyInfo div{
    width: var(--row-width);
    display: block;
    text-align: center;
}
body div#changeRow{
    width: var(--row-width);
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
}
div#ratingGraphic {
    display: block;
}
body div#ratingGraphic div#backImage {
    height: 400px;
    width: var(--row-width);
    margin-left: 10px;
    text-align: center;

    background-image: url("../img/halfcirc.png");
    background-size: var(--row-width) 400px;
}
body div#ratingGraphic div#backImage div {
    font-weight: normal;
    z-index: 1;
    background-color: transparent;
    position: absolute;
    color: var(--title-background-color);
    font-family: var(--font-normal);
}
body div#ratingGraphic div#backImage div#ratingNumber {
    left: 370px;
    top: 475px;
    font-size: 120px;
}
body div#ratingGraphic div#backImage div#ratingText {
    left: 130px;
    top: 620px;
    font-size: 55px;
    width: 560px;
    display: inline-block;
}
div#heatBar img#frontBar {
    position: absolute;
    top: 383px;
    z-index: 1;
    height: 52px;
}
body div#secondaryRatings, body div#explanation{
    display: block;
    font-family: var(--font-normal);
}
body div#explanation{
    margin-left: 10px;
    width: var(--row-width);
}
body div#explanation h2{
    text-align: center;
}
body div#secondaryRatings div.ratingInfoRow div{
    width: var(--box-width);
    justify-content: center;
    margin-right: 70px;
    margin-left: 70px;
}
body div#secondaryRatings div.ratingInfoRow div.subtext{
    font-size: 18px;
    text-align: center;
    margin-left: 45px;
    margin-right: 50px;
}

body div#secondaryRatings div.ratingInfoRow{
    height: 80px;
    width: var(--rating-width);
    justify-content: center;
    margin-bottom: 5px;
}

body div.ratingInfoBox {
    height: 78px;
    width: var(--box-width);
    border-radius: 20px;
    font-family: var(--font-normal);
    border: 1px solid var(--rating-border-color);
    background-color: var(--title-background-color);
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

body div#secondaryRatings div.valueRow{
    height: 60px;
    width: var(--rating-width);
    justify-content: center;
    margin-bottom: 25px;
}
body div#ratingGraphic div h2 {
    color: orange;
    font-family: var(--font-normal);
    font-weight: normal;
    margin-left: 60px;
}

body img#ratingArrow {
    display: none;
    position: absolute
}

div#ticker input[type="text"] {
    float: right;
    margin: 0px;
}

div#ticker {
    width: 290px;
    height: 22px;
    display: flex;
    border-radius: 2px;
    border: 1px #5a5a5a;
    background: #bbbbbb;
    padding: 0px;
    font-size: 11pt;
    margin-bottom: 8px;
}
div#ticker label {
    margin: 2px;
}
div#ticker select {
    height: 22px;
}