<!doctype html>
<head>
    <script src="static/js/form.js"></script>
    <link href="static/css/form.css" rel="stylesheet">
</head>
<body>
    <title>Audit Questionnaire</title>
    <h2>Financial Information</h2>
    <div id="financialQuestions">
        <label for="finarg01">Enter Ratio of Total Assets to Total Liabilities:</label>
        <input type="number" id="finarg01"><br />
        <label for="finarg02">Enter Current Liabilities/Total Liabilities:</label>
        <input type="number" id="finarg02"><br />
        <label for="finarg03">Enter Current Ratio:</label>
        <input type="number" id="finarg03"><br />
        <label for="finarg04">Enter Long Term Debt/ Capex</label>
        <input type="number" id="finarg04"><br />
        <label for="finarg05">Enter Debt Ratio:</label>
        <input type="number" id="finarg05"><br />
        <label for="finarg06">Enter Times Interest Earned:</label>
        <input type="number" id="finarg06"><br />
        <label for="finarg07">Enter Shareholders equity + Long term debt / Fixed assets</label>
        <input type="number" id="finarg07"><br />
        <label for="finarg08">Enter Quick Ratio</label>
        <input type="number" id="finarg08"><br />
        <label for="finarg09">Enter Return on Assets</label>
        <input type="number" id="finarg09"><br />
        <label for="finarg10">Enter Return on Equity:</label>
        <input type="number" id="finarg10"><br />
        <label for="finarg11">Enter Operating Income/ Capital Expenditures</label>
        <input type="number" id="finarg11"><br />
        <label for="finarg12">Enter Net Income before tax/ Capital Expenditures</label>
        <input type="number" id="finarg12"><br />
        <label for="finarg13">Enter EBITDA/ Total Assets</label>
        <input type="number" id="finarg13"><br />
        <label for="finarg14">Enter Non Operating Income/ Sales	</label>
        <input type="number" id="finarg14"><br />
        <label for="finarg15">Enter Net Income before tax/ Sales</label>
        <input type="number" id="finarg15"><br />
        <label for="finarg16">Enter (Net Income + Depreciation)/ Capital Expenditures + Change in inventory</label>
        <input type="number" id="finarg16"><br />
        <label for="finarg17">Enter Sales/Total Assets</label>
        <input type="number" id="finarg17"><br />
        <label for="finarg18">Enter Working Capital/Total Assets</label>
        <input type="number" id="finarg18"><br />
        <label for="finarg19">Enter Total Debt/Net Income</label>
        <input type="number" id="finarg19"><br />
        <label for="finarg20">Enter Operating Expenses/Sales</label>
        <input type="number" id="finarg20"><br />
        <input id="submit_btn" type="submit" value="Submit" onclick="submitClicked();">
    </div>
</body>