<!doctype html>
<head>
    <script src="static/js/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript">
       var rating = {{ data.current_rating|tojson }};
   </script>
    <link href="static/css/report.css" rel="stylesheet">
</head>
<body>
    <script>
        function setBarPosition() {
            var elem = document.getElementById('frontBar');
            elem.style.left = ((60 * rating) + 100).toString() + 'px';
        }
        window.onload = setBarPosition;
    </script>
    <div id="header">
        <a href="https://rebirthanalytics.com"><img id="logo" src="static/img/rebirth_title.png"></a>
        <div id="headerRight">
            <div>Corporate Financial Health Report</div>
            <div>Dated: {{data.date_generated}}</div>
        </div>
    </div>
    <div id="companyInfo">
        <div><h1>{{data.company_name}}</h1></div>
        <div>
            <text><b>Address:</b> {{data.address}}</text>
        </div>
        <div>
            <text><b>Report Period:</b> {{data.report_period}}</text>
        </div>
        <div>
            {% if data.is_public == 0 %}
            <text><b>Status: </b> Private Company</text>
            {% else %}
            <text><b>Status: </b> Public Company</text>
            {% endif %}
        </div>
        <div>
            <text><b>Industry Sector: </b> {{data.industry}}</text>
        </div>
    </div>
    <div id="rating">
        <div>
            <h2>Corporate Financial Health Dashboard</h2>
        </div>
        <div id="heatBar">
            <div id="backBar"></div>
            <img id="frontBar" src="static/img/black_bar.jpg">
        </div>
        <div class="ratingTitleRow">
            <div class="ratingSubtitle">Company Financial Health Score</div>
            <div class="ratingSubtitle">Industry Avg. Financial Health Score</div>
        </div>
        <div class="valueRow">
            <div class="ratingValue">{{ data.current_rating }}</div>
            <div class="ratingValue">{{ data.industry_rating }}</div>
        </div>
        <div class="ratingTitleRow">
            <div class="ratingSubtitle">Default Probability Estimate</div>
            <div class="ratingSubtitle">Resiliency Ratio</div>
        </div>
        <div class="valueRow">
            {% if data.default_probability == -1 %}
            <div class="ratingValue">No Data</div>
            {% else %}
            <div class="ratingValue">{{ data.default_probability }}</div>
            {% endif %}
            <div class="ratingValue">{{ data.resiliency_ratio }}</div>
        </div>
    </div>
    <div>
        {% if data.current_rating == 10 %}
        <h2><u>Negligible Risk From Perfect Financial Health</u></h2>
        {% elif data.current_rating >= 7 %}
        <h2><u>Very Little Risk From Excellent Financial Health</u></h2>
        {% elif data.current_rating >= 6 %}
        <h2><u>Slight Risk From Average Financial Health</u></h2>
        {% elif data.current_rating >= 5 %}
        <h2><u>Moderate Risk From Below Average Financial Health</u></h2>
        {% elif data.current_rating >= 1 %}
        <h2><u>Significant Risk From Low Financial Health</u></h2>
        {% else %}
        <h2><u>Extreme Risk From Very Low Financial Health</u></h2>
        {% endif %}
        <h1></h1>
    </div>
</body>